body {
  overflow-x: hidden;
}
.second-color {
  background-color: white !important;
  z-index: 100;
}

.logo-pct {
  padding: 10px;
  width: 15%;
}

nav ul a {
  color: #3b2314;
}

.main-content {
  width: 100%;
 
  max-width: 100%;
  
}
